.container {
  display: flex;
  flex-direction: column;
  width: 550px;
  gap: 30px;
  margin: 50vh auto 0;
  transform: translateY(-50%);
}

.loading {
  font-size: 20px;
}

.quoteContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quote {
  font-style: italic;
}

.author {
  font-style: italic;
  font-weight: bold;
}

.btn {
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  color: inherit;
  background-color: #fff;
  border: 1px solid;
}

.disabled {
  opacity: 0.5;
}

.errorMessage {
  font-size: 14px;
  text-align: center;
  color: #f57c00;
}
